# Core
numpy==1.26.4
pandas==2.2.2
scipy==1.10.1
tqdm==4.66.4

# Recommender
implicit==0.7.2
faiss-cpu==1.7.3
huggingface_hub==0.23.4

# API
fastapi==0.110.0
uvicorn==0.29.0

# UI
streamlit==1.33.0

# Utils
pyyaml==6.0.1
